/* Import Google Font */

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);

/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 1px;
}


/* FormElements Stylings################################## */

.FormContainer.active {
    display: flex;
}

.FormContainer {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 40px 30px 50px 50px;
    text-align: center;
    display: none;
}

.container header {
    font-size: 35px;
    font-weight: 600;
}

.container form {
    margin: 40px 0;
}

form .field {
    width: 100%;
    margin-bottom: 20px;
}

form .field .input-area {
    position: relative;
    width: 100%;
}

form input {
    height: 50px;
    width: 80%;
    padding: 0 35px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    text-align: center;
}

form .field.shake {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        margin-left: 0px;
    }
    20%,
    80% {
        margin-left: -12px;
    }
    40%,
    60% {
        margin-left: 12px;
    }
}

form input::placeholder {
    text-align: center;
    color: #bfbfbf;
    font-size: 17px;
}

form .field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    text-align: center;
    pointer-events: none;
}

form .field .icon {
    left: 15px;
    color: #bfbfbf;
}

form .field .error-icon {
    right: 15px;
    color: #dc3435;
}

form .field .error-text {
    margin-top: 5px;
    text-align: left;
    color: #dc3435;
}

form .field .error {
    display: none;
}

form .field.error input {
    border-color: red;
}

form .field.error .error {
    display: block;
}

.container .pass-link {
    text-align: left;
    margin-bottom: 10px;
}

.container a:hover {
    text-decoration: underline;
}

.container a {
    text-decoration: none;
    color: #5372F0;
}

.signup-link {
    margin-top: 50px;
}

.container input[type="submit"] {
    margin-top: 30px;
    border: none;
    background-color: #5372F0;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-out;
}

.container input[type="submit"]:hover {
    background-color: #2c52ed;
}


/* FormElements Styles Ends#################################### */


/* STYLING */

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ececec;
    color: #a2a2a2;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

.darkmode .container {
    background-color: #1A1B1F;
    color: #8a8a8a;
}

.tabs-container {
    width: 100%;
    /* width: 540px;
    max-width: 620px;
    min-width: 420px;
    margin: auto; */
}


/* Style the tabs */

.tabs {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.tabs a {
    cursor: pointer;
    padding: 12px 24px;
    width: 170px;
    text-align: center;
    margin: 70px 20px;
    font-weight: bold;
    border-radius: 18px;
    transition: background 0.1s, color 0.1s;
    background-color: #ececec;
    /* background: linear-gradient(145deg, #ffffff, #dcdcdc); */
    box-shadow: 16px 16px 48px #cbced1, -16px -16px 48px #ffffff;
}

.darkmode .tabs a {
    background: linear-gradient(145deg, #1c1d21, #17181c);
    box-shadow: 3px 3px 6px #101114, -3px -3px 6px #24252a;
}


/* Change background color of tabs on hover */

.tabs a:hover {
    background: linear-gradient(145deg, #f4f4f4, #cecece);
    color: #888;
}

.darkmode .tabs a:hover {
    background: #141414;
    color: #bbb;
    text-decoration: none;
}


/* Styling for active tab */

.tabs a.active {
    background-color: #f4f4f4;
    color: #bdbdbd;
    cursor: default;
    padding: 14px 22px 10px 26px;
    background: #f4f4f4;
    box-shadow: inset 3px 3px 5px #cbcbcb, inset -3px -3px 5px #ffffff;
}

.darkmode .tabs a.active {
    background: #1A1B1F;
    box-shadow: inset 3px 3px 6px #101114, inset -3px -3px 6px #24252a;
    color: #6a6a6a;
}


/* Style the tab content */

.tabcontent {
    padding: 46px;
    min-height: 288px;
    display: none;
    border-radius: 18px;
    background: #f4f4f4;
    box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
}

.darkmode .tabcontent {
    background: linear-gradient(145deg, #1c1d21, #17181c);
    box-shadow: 3px 3px 6px #101114, -3px -3px 6px #24252a;
}

.content .active {
    display: block;
}

.tabcontent p {
    margin-bottom: 12px;
}

.tabcontent p:last-child {
    margin-bottom: 0;
}

.tabcontent .read-more-link a {
    color: #626262;
    text-decoration: none;
    font-size: 0.85em;
    font-weight: bold;
}

.darkmode .tabcontent .read-more-link a {
    color: #d4d4d4;
}

.icon {
    padding-left: 8px;
    font-size: 16px;
}


/* THE DARKMODE SWITCH */

.dark-mode-switch {
    position: absolute;
    top: 16px;
    right: 16px;
}

.switch-label {
    cursor: pointer;
    font-size: 0.85em;
}


/* the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
    margin-left: 4px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1A1B1F;
    transition: .2s;
    box-shadow: 2px 2px 3px #ffffff, -2px -2px 3px #bebebe;
}

.darkmode .slider {
    box-shadow: 2px 2px 3px #34353a, -2px -2px 3px #000104;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 2px;
    background: #9294b8;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f4f4f4;
}

input:checked+.slider:before {
    transform: translateX(21px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 11px;
}

.slider.round:before {
    border-radius: 50%;
}


/*==============================*/

.small-screen {
    display: none;
    scrollbar-width: 1px;
    background-color: #f4f4f4;
    height: 100vh;
    color: #a2a2a2;
    font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

.darkmode .small-screen {
    background-color: #1A1B1F;
    color: #8a8a8a;
}

.small-screen-content {
    width: 70%;
    margin: auto;
}

@media only screen and (max-width: 300px) {
    .container {
        display: none;
        scrollbar-width: 1px;
    }
    .small-screen {
        display: flex;
    }
    .tabcontent {
        display: block;
    }
}