body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

 ::-webkit-scrollbar {
    width: 1px;
}

.pageHeader {
    z-index: 10;
    height: 60px;
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    padding: 0%;
    background-color: #ececec;
}

.pageHeader p {
    font-size: 30px;
    font-weight: 500;
    margin: 20px;
    color: green;
}

.container {
    z-index: 10;
    height: 50px;
    width: 100%;
    box-shadow: 16px 16px 18px #cbced1, -16px -16px 18px #cab8b8;
    position: fixed;
    bottom: 0;
    background-color: #F0FFF0;
}

.container .pageNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.container .pageNav span {
    width: 70px;
    height: 70%;
    display: inline-block;
}

.container .pageNav span i {
    width: 80px;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 30px;
    color: rgb(142, 214, 33);
}

.container .pageNav span .counter {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
    color: rgb(134, 41, 24);
}


/* ====================Messages codes goes here======================== */

.activeUSers .singleUser .userProfile {
    height: 80px;
    width: 100%;
    right: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.usersBox li {
    margin-top: 20px;
}


/* .usersBox a li:last-child {
    margin-bottom: 160px;
} */

.singleUser .userProfile .imgBox {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: blue;
}

.singleUser .userProfile .imgBox img {
    height: 100%;
    border-radius: 50%;
    width: 100%;
}

.singleUser .userProfile .accName {
    position: relative;
    bottom: 12px;
    width: 70%;
    height: 60px;
}

.singleUser .userProfile .accName p {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(134, 41, 24);
}

.singleUser .userProfile .recentMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60%;
    position: absolute;
    top: 15%;
    flex-wrap: wrap;
    left: 25%;
}

.singleUser .userProfile .recentMsg p {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}