.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 2rem);
    height: 100%;
    gap: 2rem;
}
.post{
    border-radius: 0.3rem;
    /* background: rgb(139, 139, 139); */
    box-shadow: 0 0 6px #bbb;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.post_header {
    display: grid;
    grid-template-areas:
        "profile-pic profile-name"
        "profile-pic last-seen";
    grid-template-columns: 2fr 6fr;
    justify-content: center;
    align-items: center;
    /* width: calc(100% - 2rem); */
    /* height: 15vmin; */
    /* box-shadow: 0 0 4px 1px #ccc; */
}
/* .post_header > *{
    border: 2px solid;
} */
.post_sender-pic,
.post_sender-last-seen,
.post_sender-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.post_sender-pic {
    grid-area: profile-pic;
    justify-content: center;
}
.post_pic_src {
    width: 13vmin;
    height: 13vmin;
    border-radius: 50%;
}
.post_sender-name {
    grid-area: profile-name;
    font-weight: bold;
    /* padding-left: 1rem; */
}
.post_sender-last-seen {
    grid-area: last-seen;
    opacity: 0.7;
    /* padding-left: 1rem; */
}
.post_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.post_content_src {
    width: 100%;
    height: 40vmin;
    object-fit: cover;
}
.post_reactions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vmin;
    /* background: lime; */
}