.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: calc(100vw - 2rem); */
    /* height: 100%; */
    gap: 0.7rem;
    flex-wrap: wrap;
}
.post{
    border-radius: 0.3rem;
    background: #f9f9f9;
    box-shadow: 0 0 6px #bbb;
    overflow: hidden;
    width: 90vmin;
    height: 100%;
}
.post_header {
    display: grid;
    grid-template-areas:
        "profile-pic profile-name"
        "profile-pic last-seen";
    grid-template-columns: 1.6fr 6fr;
    justify-content: center;
    align-items: center;
    /* width: calc(100% - 2rem); */
    /* height: 13vmin; */
    /* box-shadow: 0 0 4px 1px #ccc; */
    padding: 0.5rem;
}
.post_sender-pic,
.post_sender-last-seen,
.post_sender-name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.post_sender-pic {
    grid-area: profile-pic;
    justify-content: center;
}
.post_pic_src {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    box-shadow: 0 0 2px black;
}
.post_sender-name {
    grid-area: profile-name;
    font-weight: bold;
    /* padding-left: 1rem; */
}
.post_sender-last-seen {
    grid-area: last-seen;
    opacity: 0.7;
    font-size: 0.8rem;
    /* padding-left: 1rem; */
}
.post_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.post_content_src {
    width: 100%;
    height: 40vmin;
    object-fit: cover;
}
.post_reactions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vmin;
    /* background: lime; */
}
.post_reactions_like,
.post_reactions_comment,
.post_reactions_share{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.post_reactions_like{
    color: var(--red);
}
.post_reactions_comment{
    color: rgb(64, 194, 86);
}
.post_reactions_share{
    color: rgb(0, 162, 255);
}

@media screen and (min-width: 450px) {
    .post{
        width: 65vmin;
    }
    .post_sender-last-seen,
    .post_sender-name{
        padding-left: 0.9rem;
    } 
}
@media screen and (min-width: 700px) {
    .post{
        width: 50vmin;
    }
}