* {
    --bg: #e7e7e7;
    --primary: #2ce23b;
    --red: crimson;
    --black: #111;
    --dev: solid 2px lime;
    --dark-green: rgb(9, 216, 78);
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    --texts: rgb(33, 102, 76);;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

 ::-webkit-scrollbar {
    width: 1px;
}

hr {
    width: 80%;
}

.pageHeader {
    z-index: 5;
    width: 100%;
    height: 10vh;
    padding: 2vmin;
    position: absolute;
    top: 0;
    background: var(--bg);
}

.pageHeader p {
    font-size: 30px;
    font-weight: 500;
    padding-left: 4vmin;
    color: var(--dark-green);
}

.container {
    z-index: 5;
    height: 10vh;
    width: 100%;
    box-shadow: 0px 4vmin 8vmin #000000;
    position: fixed;
    bottom: 0;
    background-color: #ecf3ee;
}

.container .pageNav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.container .pageNav > *{
    width: 25vw;
}

.container .pageNav div i {
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--primary);
}

.container .pageNav div .counter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: -1vmin;
    right: 30%;
    font-weight: bold;
    font-size: 25px;
    color: var(--red);
}

/* desktop */
@media screen and (min-width: 550px) {
    .container .pageNav div .counter {
        right: 37%;
    }
}
/* mobile */
@media screen and (max-width: 427px){
    .container .pageNav div .counter {
        right: 20%;
    }
}


/* ====================Notifications codes goes here======================== */

.allNotifications .notiFications {
    margin-top: 20px;
}

.allNotifications .notiFications .singleNotes {
    height: 95px;
    width: 100%;
}

.allNotifications .notiFications .singleNotes:last-child {
    margin-bottom: 50px;
}

.allNotifications .notiFications .singleNotes p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem;
    color: var(--texts);
}

.allNotifications .notiFications .singleNotes hr {
    width: 100%;
    height: 1px;
    background-color: #ececec;
}